section{height: 70vh; position: relative;}
section div{height: 70vh; background-image: url(../image/mountain_PNG18.png); background-size: cover; background-position: center; background-repeat: no-repeat;}


